* {
    background-color: #202020 !important;
    border: none !important;
    color: #e3e3e3 !important
}

body:after {
    aspect-ratio: 1;
    background: #3d2c8d;
    content: "";
    filter: blur(40rem);
    opacity: .5;
    pointer-events: none;
    position: absolute;
    right: -10%;
    top: -10%;
    width: 25rem
}

body#page-login-index:after {
    left: 0 !important
}

body {
    overflow-x: hidden
}

#page-login-index.moove-login #page-wrapper #page,
#page-login-index.moove-login #page-wrapper #page * {
    background-color: #1a1a1a !important
}

#page-login-index.moove-login #page-wrapper #page {
    background-image: none !important
}

#page-login-index.moove-login #page-wrapper #page div[role=main] {
    position: fixed;
    right: 0;
    top: 0;
    width: 75vw
}

a,
img {
    background-color: transparent !important;
}

div[role='textbox'] {
    border: 1px solid #555 !important;
}

table b,
table .statedetails {
    padding: 0 !important;
    background-color: inherit !important;
}

input[type='checkbox'] {
    appearance: none;
    padding: 0 !important;
    border: none;
    outline: none;
    position: relative;
    width: 0px;
    aspect-ratio: 1;
    margin-right: 2rem;
}

input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 30px;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23999999'%3E%3Cpath d='M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm0-72h528v-528H216v528Z'/%3E%3C/svg%3E");
}

input[type='checkbox']:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%235985E1'%3E%3Cpath d='m429-336 238-237-51-51-187 186-85-84-51 51 136 135ZM216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm0-72h528v-528H216v528Zm0-528v528-528Z'/%3E%3C/svg%3E");
}