* {
    background-color: #202020 !important;
    border: none !important;
    color: #e3e3e3 !important
}

body:after {
    aspect-ratio: 1;
    background: #3d2c8d;
    content: "";
    filter: blur(40rem);
    opacity: .5;
    pointer-events: none;
    position: absolute;
    right: -10%;
    top: -10%;
    width: 25rem
}

body#page-login-index:after {
    left: 0 !important
}

body {
    overflow-x: hidden
}

#page-login-index.moove-login #page-wrapper #page,
#page-login-index.moove-login #page-wrapper #page * {
    background-color: #1a1a1a !important
}

#page-login-index.moove-login #page-wrapper #page {
    background-image: none !important
}

#page-login-index.moove-login #page-wrapper #page div[role=main] {
    position: fixed;
    right: 0;
    top: 0;
    width: 75vw
}

a,
img {
    background-color: transparent !important;
}