.bg-white {
    background-color: #202020 !important;
}

.btn {
    border-radius: 0.4rem !important;
    overflow: hidden !important;
    text-transform: capitalize !important;
    transition: background-color 250ms ease !important;
}

.btn-secondary,
.btn-primary {
    padding: 10px 20px !important;
    border-radius: 0.4rem !important;
    cursor: pointer !important;
    font-weight: bold !important;
}

.btn-primary,
#page-login-index.moove-login #page-wrapper #page .btn-primary {
    background-color: rgb(var(--clr-main)) !important;
}

.btn-secondary,
#page-login-index.moove-login #page-wrapper #page .btn-secondary {
    background-color: rgb(var(--clr-secondary)) !important;
}

#page-login-index.moove-login #page-wrapper #page .btn:hover,
.btn:hover {
    background-color: rgba(var(--clr-accent), 70%) !important;
    color: #eee !important;
}

.text-muted {
    opacity: 0.75 !important;
}

.page-context-header {
    display: flex;
    align-items: center;
}

.userpicture {
    padding: 0 !important
}

#region-main .dropdown *,
#region-main .dropdown .dropdown-item {
    background-color: #3e3e3e !important;
    color: #e3e3e3 !important;
    border-radius: 0.5rem !important;
}

#region-main .dropdown .dropdown-item:hover,
.dropdown-item:hover,
.dropdown-item:hover * {
    background-color: #4e4e4e !important;
}

.submissionstatussubmitted {
    color: lightgreen !important;
    font-weight: 600 !important;
}

#page-navbar .breadcrumb li *::after,
#page-navbar .breadcrumb li::after {
    top: 18% !important;
    left: 92% !important;
    border: none !important;
}

#page-navbar .breadcrumb li::after {
    width: 24px !important;
    height: 24px !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%235985E1'%3E%3Cpath d='M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z'/%3E%3C/svg%3E");
}

#page-mod-attendance-view table td {
    font-weight: bold;
}

#page-mod-attendance-view table td[style='color: #314489'] {
    color: limegreen !important;
}

#page-mod-attendance-view table td[style='color: red'] {
    color: orangered !important;
}