#page-login-index.moove-login #page-wrapper #page,
#page-login-index.moove-login #page-wrapper #page * {
    background-color: #1a1a1a !important;
}

#page-login-index.moove-login #page-wrapper #page {
    background-image: none !important;
}

form#login>div {
    margin-block: 1rem !important;
}

form#login input {
    border: 1px solid #444 !important;
    padding: 1.5rem 1rem;
}

#page-login-index.moove-login #page-wrapper #page input {
    background-color: #222 !important;
    border-radius: 10px !important;
}

#page-login-index.moove-login #page-wrapper #page .input-group {
    margin-block: 10px !important;
    align-items: center;
}

#page-login-index.moove-login #page-wrapper #page :is(.themBullets, .themBulletsContainer, .themBullet, .themBulletsContainer h2, .themBulletsContainer p) {
    background-color: inherit !important;
}

#page-login-index.moove-login #page-wrapper #page .themBullets {
    margin-inline-start: 1.5rem;
    margin-block: 4rem;
    display: grid;
    gap: 0.7rem;
    padding: 1rem;
}

#page-login-index.moove-login #page-wrapper #page .themBulletsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#page-login-index.moove-login #page-wrapper #page .themBulletsContainer h2 {
    font-weight: bold;
    font-size: 1.4em;
}

#page-login-index.moove-login #page-wrapper #page .themBulletsContainer p {
    color: #bbb !important;
    margin-block-end: 1.4rem;
}

#page-login-index.moove-login #page-wrapper #page .themBullet {
    color: #bbb !important;
    padding-block: 0.2rem;
    padding-inline-start: 1.2rem;
    position: relative;
}

#page-login-index.moove-login #page-wrapper #page .themBullet::before {
    content: attr(data-number);
    display: grid;
    font-size: 0.8em;
    place-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    translate: -50% -50%;
    font-family: monospace;
    width: 1.42rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.alert-danger,
#page-login-index.moove-login #page-wrapper #page .alert-danger {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    color: rgb(var(--clr-main)) !important;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

#page-login-index.moove-login #page-wrapper #page .loginpanel div.form {
    min-width: 450px !important;
}

#page-login-index.moove-login #page-wrapper #page p.welcome {
    width: 25vw !important;
    height: 100% !important;
    background-color: #2e2e2e !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}

#page-login-index.moove-login #page-wrapper #page div[role='main'] {
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
}

#page-login-index.moove-login #page-wrapper #page div[role='main']:has(div[role="alertdialog"]) {
    width: 100vw !important;
}

#page-login-index.moove-login #page-wrapper #page .loginHeading {
    margin-block-start: 2rem;
    width: 100%
}

form#login {
    display: grid;
}

.input-group-addon {
    display: none;
}

.forgetpass p a {
    color: rgba(var(--clr-main), 90%) !important;
    font-weight: bold;
}

fieldset#id_searchbyusername input {
    width: 100% !important;
    margin: 0 auto !important;
    align-self: center !important;
}

fieldset#id_searchbyusername>div {
    display: grid !important;
}

#page-login-forgot_password div[role="main"] {
    width: 70vw !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

#page-login-forgot_password div[role="main"]>div {
    width: 50% !important;
    text-align: center !important;

}

#page-login-forgot_password div[role="main"]>form #fitem_id_username {
    display: grid !important;
    justify-items: center !important;
}

#page-login-forgot_password div[role="main"]>form #fitem_id_username>div {
    display: block !important;
    width: 672px !important;
}

#page-login-forgot_password div[role="main"] label[for="id_username"] {
    display: block !important;
    width: 100% !important;
    text-align: center;
}

#page-login-forgot_password div[role="main"] #fitem_id_submitbuttonusername {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
}

#page-login-forgot_password div[role="main"] #fitem_id_submitbuttonusername>div:first-of-type {
    width: 0 !important;
    flex: 0 !important;
}

#page-login-forgot_password div[role="main"] #fitem_id_submitbuttonusername:nth-child(2) {
    margin: 0 auto !important;
}