:root {
    --clr-main: 59, 130, 246;
    --clr-secondary: 12, 10, 9;
    --clr-accent: 41, 37, 36;
}

body::after {
    content: '';
    width: 25rem;
    opacity: 0.5;
    aspect-ratio: 1;
    background: #3D2C8D;
    filter: blur(40rem);
    pointer-events: none;
    position: absolute;
    top: -10%;
    right: -10%;
}

body#page-login-index::after {
    left: 0 !important;
}

body {
    overflow-x: hidden;
}

* {
    background-color: #202020 !important;
    color: #e3e3e3 !important;
    border: none !important;
}

table {
    font-family: system-ui, sans-serif !important;
    border-radius: 1rem !important;
    overflow: hidden !important;
    border-collapse: collapse !important;
}

tr:nth-child(odd),
tr:nth-child(odd) td {
    background-color: #333 !important;
}

tr,
tr * {
    padding: 1rem !important;
}

input {
    border: 1px solid #444 !important;
    border-radius: 0.5rem !important;
}