.que .answer input[type='radio'] {
    appearance: none;
    width: 20px;
    aspect-ratio: 1;
    border: none;
    outline: none;
    background: transparent;
    z-index: 20;
}

.que .answer input[type='radio']+label {
    position: relative !important;
    display: inline-block !important;
    padding-inline-start: 1rem !important;
}

.que .answer>div {
    position: relative;
}

.que .answer>div::before {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 35px;
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    background-color: #333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23999999'%3E%3Cpath d='M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm0-72h528v-528H216v528Z'/%3E%3C/svg%3E");
}

.que .answer>div:has(input[type='radio']:checked)::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%235985E1'%3E%3Cpath d='m429-336 238-237-51-51-187 186-85-84-51 51 136 135ZM216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm0-72h528v-528H216v528Zm0-528v528-528Z'/%3E%3C/svg%3E");
}

.que {
    padding: 15px !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    display: flex !important;
}

.que .info {
    width: 10em !important;
    padding-block-start: 1em !important;
}

.que .info .no,
.que .info .no .qno {
    font-size: 1em !important;
    font-weight: 600 !important;
}

.que .content,
.que .content .formulation {
    margin: 0 !important;
    padding-block: 0 !important;
}

.que .content .feedback * {
    font-weight: bold;
}

.correct .content .feedback * {
    color: lightgreen !important;
}

.incorrect .content .feedback * {
    color: palevioletred !important;
}

.que,
.que * {
    background-color: #333 !important;
}